doctype html
html
  head
    title CHARTS
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/highcharts.js')
    script(src='/javascripts/app-charter.js')

  body
    block content

